absl-py
anyio
argon2-cffi
astunparse
async-generator
attrs
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
chardet
click
colorama
decorator
defusedxml
entrypoints
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py==2.10.0
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
Keras
keras-nightly
Keras-Preprocessing
Markdown
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
pip
prometheus-client
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-learn
scipy
Send2Trash
setuptools
six
sklearn-pandas
sniffio
soupsieve
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
tornado
traitlets
typing-extensions
urllib3
voila
wcwidth
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
